body {

}
.the1st_screen {
    width: 1600px;
    height: 744px;
    background-image: url("assets/bg-image.png");
    margin-left: auto;
    margin-right: auto;
}
.vebdev{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 480px;
    height: 91px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.8;
}
.header {
    display: flex;
    width: 1600px;
    height: 95px;
}
.about {
    width: 38px;
    height: 21px;
    margin-left: 502px;
    margin-top: 38px;
    color: #FFFFFF;
    opacity: 0.8;
}
.about:hover{
    color: #FFFFFF;
    opacity: 1;

}
.syllabus {
    margin-left: 85px;
    margin-top: 38px;
    width: 53px;
    height: 20px;
}
.logo {
    margin-left: 100px;
    margin-top: 25px;
}
.projects {
    margin-top: 38px;
    margin-left: 101px;
    width: 52px;
    height: 20px;
}
.faq {
    margin-left: 83px;
    margin-top: 38px;
    width: 26px;
    height: 20px;
}
.syllabus, .faq, .projects {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.your_life p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.your_life {
    width: 730px;
    height: 75px;
    margin-left: 435px;
    margin-top: 136px;
}
.print_your_life{
    margin-left: 548px;
    margin-top: 20px;
    width: 504px;
    height: 50px;

}
.print_your_life p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
.btn_main{
    width: 184px;
    height: 46px;
    margin-left: 707px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #00AFDB;
    justify-content: center;
    transition: all 500ms ease;
}
.btn_main:hover{
    transform: scale(1.1);
    background-color: #34cef5;
}
.btn_main p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.socials {
    margin-left: 715px;
    margin-top: 183px;
    display: flex;
    width: 170px;
    height: 20px;
}
.mail, .facebook, .insta, .telegram {
    transition: all 500ms ease;
    width: 20px;
    height: 20px;
}
.mail:hover, .facebook:hover, .insta:hover, .telegram:hover{
    transform: scale(1.2);

}
.facebook, .insta, .telegram{
    margin-left: 30px;
}

.second_screen{
    width: 1600px;
    height: 842px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    display: flex;
}

.content_block{
    width: 407px;
    height: 233px;
    margin-left: 268px;
    margin-top: 295px;
}
.rappresent{
    margin-right: 40px;
    width: 367px;
    height: 57px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}
.lorem_ipsum{
    margin-top: 20px;
    width: 407px;
    height: 80px;
}
.lorem_ipsum p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
}
.btn_main_2{
    width: 184px;
    height: 46px;
    margin-top: 30px;
    background: #00AFDB;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all 500ms ease;
}
.btn_main_2:hover{
    transform: scale(1.1);
    background-color: #34cef5;

}
.btn_main_2 p{
    width: 90px;
    height: 16px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.content_image{
    width: 407px;
    height: 582px;
    margin-left: 248px;
    margin-top: 120px;
}


.third_screen{
    width: 1600px;
    height: 504px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: #F5F6F7;
}
.frame6{
    width: 45px;
    height: 45px;
    margin-left: 396px;
    margin-top: 155px;
}
.our_community{
    /*на 1px изменил width*/
    width: 161px;
    height: 20px;
    margin-left: 338px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
.our_community p{
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.a_hacker{
    width: 298px;
    height: 80px;
    margin-left: 269px;
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #4E4E4E;
}
.slider_items{
    width: 894px;
    height: 244px;
    margin-left: 139px;
    margin-top: 18px;
}
.photo_slider{
    width: 407px;
    height: 244px;
}
.photo_slider1{
    width: 407px;
    height: 244px;
    margin-left: 30px;
}
.photo_slider2{
    width: 10px;
    height: 244px;
    margin-left: 30px;
    object-fit: cover;
}

.nav_items{
    margin-left: 682px;
    margin-top: 80px;
    display: flex;
    width: 90px;
    height: 20px;
}
.number_pages1{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373737;
    margin-left: 10.2px;
}
.number_pages2{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373737;
    margin-left: 5px;
}.number_pages3{
     font-family: Roboto, sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 140%;
     display: flex;
     align-items: center;
     text-align: center;
     color: #373737;
    margin-right: 9.7px;
    margin-left: 4.4px;
    margin-top: 1px;
 }


.more_less1{
    margin-top: 3px;
    width: 13px;
    height: 14px;
    transition: all 500ms ease;
}
.more_less2{
    margin-top: 3px;
    width: 13px;
    height: 14px;
    margin-left: 2.2px;
    transition: all 500ms ease;

}
.more_less1:hover{
    transform: scale(1.2);
    cursor: w-resize;
    color: #4E4E4E;
}
.more_less2:hover{
    transform: scale(1.2);
    cursor: e-resize;
    color: #4E4E4E;
}


.fourth_screen{
    width: 1600px;
    height: 842px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.fourth_photo{
    width: 407px;
    height: 582px;
    margin-left: 269px;
    margin-top: 120px;
}
.fourth_description{
    margin-left: 139px;
    margin-top: 319px;
}
.implement{
    width: 298px;
    height: 28px;
}
.implement p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}
.description_implement{
    width: 407px;
    height: 60px;
    margin-top: 20px;
}
.description_implement p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
   color: #4E4E4E;
}
.btm_main_4{
    width: 180px;
    height: 46px;
    background: #00AFDB;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;

}
.btm_main_4:hover{
    transform: scale(1.1);
    background-color: #34cef5;
}
.btm_main_4 p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}



.fifth_screen{
    width: 1600px;
    height: 598px;
    background: url("assets/pexels-christina-morillo-1181675 1.svg");
    margin-left: auto;
    margin-right: auto;
}
.sign_up{
    display: flex;
    justify-content: center;
}
.sign_up p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 217px;
    color: #FFFFFF;
}
.email{
    /*
    width: 340px;
    */
    height: 46px;
    margin-left: 597px;
    margin-top: 31px;
    display: flex;
}
.enter_email{
    width: 340px;
    height: 46px;
}
.button{
    width: 66px;
    height: 46px;
    background: #00AFDB;
    border: none;
}


/*

.sixth{
    width: 1600px;
    height: 468px;
    margin-left: auto;
    margin-right: auto;
    background: #F5F6F7;
}
.download {
    width: 255px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
}
.download p{
!*
не работает марджин правильно
*!
}
.download_description{
    width: 484px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
.download_description p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    margin-top: 10px;
}



.footer{
    width: 1600px;
    height: 184px;
    margin-left: auto;
    margin-right: auto;
    background: #000000;
}
*/




